
.square {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    background-image: linear-gradient(
            45deg,
            rgb(121, 113, 234),
            rgb(97, 71, 182)
    );
}

.full-screen-square {
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-image: linear-gradient(45deg, #fc4444, rgb(242, 123, 69));
}
