@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
    width: 100%;
    height: 100vh;
}


#root {
    width: 100%;
    height: 100%;
}